@model List<Fiap07.Web.MVC.Models.Imovel>

@{
    ViewBag.Title = "Listar";
}

<h2>Imóveis</h2>

    @Html.DropDownList("Codigo", ViewBag.churros as SelectList)

<table class="table">
    <tr>
        <th>Código</th>
        <th>Endereço</th>
        <th>Valor</th>
        <th>Categoria</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ImovelId</td>
            <td>@item.Endereco</td>
            <td>@item.Valor</td>
            <td>@item.Categoria.Nome</td>
        </tr>
    }
</table>

